
h1 {
  color: white;
  background-image: url("http://storage.thesudburystar.com/v1/dynamic_resize/sws_path/suns-prod-images/1297836085046_ORIGINAL.jpg?quality=80&size=650x&stmp=1463407196354");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}




